*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* testata */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
}

/* menu */
#nav-menu{
    padding: 25px 20px;
    height: 100%;
}

.nav-row{
    height: 100%;
    line-height: 30px;
}

.dp-logo{
    height: 100%;
    float: left;
}

.nav-row::after{
    content: '';
    display: table;
    clear: both;
}

.nav-row li{
    float: left;
    list-style-type: none;
    margin: 0 25px;
}

.nav-row a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 18px;
    padding-bottom: 27px;
}

.nav-row a:hover{
    border-bottom: 3px solid black;
}

#start:hover{
    border: none;
    background-color: #3e87fd;
}

.nav-second-list{
    float: right;
}

#start{
    color: white;
    background-color: #0061ff;
    padding: 7px 18px;
}

/* jumbotron */
.jumbo{
    background-color: #b4d0e7;
    width: 100%;
    height: 770px;
}

.jumbo-container{
    width: 90%;
    margin: auto;
    padding-top: 150px;
}

.jumbo-container::after{
    display: table;
    content: '';
    clear: both;
}

/* titolo jumbotron */
.jumbo-container-top{
    font-size: 60px;
    line-height: 85px;
    margin-bottom: 40px;
}

/*jumbotron container bottom left*/
.jumbo-container-bottom-left{
    float: left;
    width: 26%;
}

/* testo jumbotron */
.jc-bottom-text{
    font-size: 19px;
    margin-bottom: 40px;
}

/* pulsante jumbotron */
.jc-prova-gratuita{
    color: white;
    font-size: 18px;
    padding: 10px 18px;
    background-color: #0061ff;
    text-decoration: none;
}

.jc-prova-gratuita:hover{
    background-color: #2b7cff;
}

.annulla{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.jc-arrow{
    text-decoration: none;
    margin-left: 15px;
    font-size: 50px;
    color: black
}

/*jumbotron container bottom right*/
.jumbo-container-bottom-right img{
    width: 70%;
    float: right;
}

/*-----debug-----*/
/* .debug header{
    background-color: aqua;
}

.debug #nav-menu{
    background-color: lightgreen;
}

.debug .nav-row{
    background-color: lightpink;
}  

.debug .jumbo-container{
    background-color: seagreen;
    height: 80%;
} */