*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 44px;
    font-weight: 500;
}

/* float */
.dp-logo{
    float: left;
}

.nav-row li{
    float: left;
}

.nav-second-list{
    float: right;
}

.jumbo-container-bottom-left{
    float: left;
}

.jumbo-container-bottom-right{
    float: right;
}

.colonna{
    float: left;  
}

.contatto.partner *{
    float: left;
}

.business-container{
    float: left;
}

.business-container.center{
    float: left;
}

/*clearfix*/
.row.clearfix::after{
    width: 100%;
    display: table;
    content: '';
    clear: both;
}

.contatto.partner::after{
    width: 100%;
    display: table;
    content: '';
    clear: both;
}

.dropbox-business::after{
    width: 100%;
    display: table;
    content: '';
    clear: both;
}

.team-row::after{
    display: table;
    content: '';
    clear: both;
}

/* testata */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
    z-index: 500;
}

/* menu */
#nav-menu{
    padding: 25px 20px;
    height: 100%;
}

.nav-row{
    height: 100%;
    line-height: 30px;
}

.dp-logo{
    height: 100%;
}

.nav-row::after{
    content: '';
    display: table;
    clear: both;
}

.nav-row li{
    list-style-type: none;
    margin: 0 25px;
}

.nav-row a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 18px;
    padding-bottom: 27px;
}

.nav-row a:hover{
    border-bottom: 3px solid black;
}

#start:hover{
    border: none;
    background-color: #3e87fd;
}

#start{
    color: white;
    background-color: #0061ff;
    padding: 7px 18px;
}

/* jumbotron */
.jumbo{
    background-color: #b4d0e7;
    width: 100%;
    height: 770px;
    margin-bottom: 200px;
}

.jumbo-container{
    width: 90%;
    margin: auto;
    padding-top: 150px;
}

.jumbo-container::after{
    display: table;
    content: '';
    clear: both;
}

/* titolo jumbotron */
.jumbo-container-top{
    font-size: 60px;
    line-height: 85px;
    margin-bottom: 40px;
}

/*jumbotron container bottom left*/
.jumbo-container-bottom-left{
    width: 26%;
}

/* testo jumbotron */
.jc-bottom-text{
    font-size: 19px;
    margin-bottom: 40px;
}

/* pulsante jumbotron */
.pulsante.prova.gratuita{
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 18px;
    background-color: #0061ff;
    text-decoration: none;
}

.pulsante.prova.gratuita:hover{
    background-color: #2b7cff;
}

.annulla{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.jc-arrow{
    text-decoration: none;
    margin-left: 15px;
    font-size: 50px;
    color: black
}

/*jumbotron container bottom*/
.jumbo-container-bottom-right{
    width: 70%;
}

.jumbo-container-bottom-right img{
    width: 900px;
}

/*corpo della pagina*/
/*piano dropbox*/
#piano-dropbox{
    width: 70%;
    margin: 0 auto;
}

#piano-dropbox h2 {
    margin-bottom: 50px;
}

.fatturazione{
    margin-bottom: 50px;
}

.fatturazione div{
    display: inline-block;
    margin: 0 8px;
}

.fake.check{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 50px;
}

.fake.check.select{
    border: 5px solid #0061ff;
}

/*colonne*/
.colonna{
    width: calc((100% / 3 ) - ( 80px / 3 ));
    border: 1px solid rgba(0, 0, 0, 0.3);   
}

.colonna.centrale{
    margin: 0  40px;
}

.ultima.colonna{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    float: none;
}

/*intestazione colonne*/
.cl-header{
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
}

/*contenuto colonne*/
.contenuto-colonna{
    padding: 25px;
    font-size: 14px;
}

.contenuto-ultima-colonna{
    padding: 25px 0 25px 25px;
    font-size: 14px;
    position: relative;
}

.contenuto-colonna-dx{
    position: absolute;
    top: 35px;
    right: 25px;
}

.contenuto-colonna *{
    padding-bottom: 15px;
    vertical-align: top
}

.contenuto-colonna img{
    margin-right: 5px;
}

.titolo-colonna{
    font-size: 26px;
}

.contenuto-colonna-sx *{
    margin-bottom: 20px;
}

.contatta.ufficio{
    font-size: 18px;
    font-weight: 500;
}
/* prezzi */
.costo{
    font-size: 18px;
    font-weight: 500;
}

.costo-scadenza{
    height: 80px;
    color: grey;
}

/* descrizione piano */
.n-utenti *{
    display: inline-block;
}

.archiviazione *{
    display: inline-block;
}

.gb-archiviazione{
    width: calc(100% - 30px);
    height: 50px;
}

.info *{
    display: inline-block;
}

.info-text{
    width: calc(100% - 30px);
}

/* acquista */
.acquista.ora{
    margin-top: 30px;
}

.acquista.ora span{
    padding-bottom: 30px;
    border-bottom: 1px solid #8f8f8f;
}

.acquista.ora a{
    color: #0061ff;
}

/* punti salienti */
.lista.piano h3{
    font-weight: 500;
    font-size: 18px;
    padding: 40px 0 15px 0;
}

.lista.piano ul{
    list-style: none;
    margin-left: 15px;
    height: 250px;
}

.lista.piano li{
    max-width: calc(100% - 30px);
    padding-left: 5px;
}


.lista.piano li::marker{ 
    content: '\2713';
    font-size: 18px;
    color: #3581ff;
    margin-left: 10px;
}

/* sezione contatto partner */
.contatto.partner{
    width: 70%;
    margin: 100px auto 120px;
}

.contatto.partner-sx img{
    width: 600px;
}

.contatto.partner-dx{
    width: calc(100% - 600px);
    padding: 100px 0 100px 80px;
}

.partner-dx *{
    margin-bottom: 20px;
}

.contatto.partner-dx h3{
    font-size: 26px;
}

#partner-dx-text{
    font-size: 16px;
    line-height: 1.6;
}

.pulsante.partner{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    margin-top: 10px;
}

.pulsante.partner:hover{
    background-color: rgba(0, 0, 0, 0.1); 
}

/* sezione business */
.dropbox-business{
    width: 70%;
    margin: 0 auto 100px auto;
}

.business-titolo{
    margin-bottom: 50px;
}

.business-container, .business-container.center{
    width: calc((100% / 3) - 30px);
    height: 600px;
}

.business-container.center{
    margin: 0 45px;
}

.business-container-img{
    width: 100%;
    margin-bottom: 20px;
}

.business-container h3{
    font-size: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.business-container-text{
    font-size: 17px;
    width: 100%;
    margin-bottom: 20px;
}

.business-container-text a{
    color: black;
}


/* sezione team */
.team{
    width: calc(100vw - (100vw - 100%));
}

.team-top{
    width: 70%;
    margin: 0px auto;
}

.team-top h2{
    margin-bottom: 20px;
}

.team-top a{
    color: #0061ff;
    font-size: 18px;
}

.team-top a:hover{
    text-decoration: none;
}

/* quadrati team */
.team-row{
    margin-top: 40px;
}

.team-column{
    width: 30%;
    height: 450px;
    float: left;
}

.team-column-center{
    width: 40%;
    height: 450px;
    padding: 70px;
    float: left;
    background-color: #f5f5f5;
}

.team-logo{
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}

/* colore sfondo quadrati team */
.first.team-logo{
    background-color: #a2d39b;
}

.second.team-logo{
    background-color: #61082b;
}

.third.team-logo{
    background-color: #0093ce;
}

.fourth.team-logo{
    background-color: #ff1c1c;
}

.fifth.team-logo{
    background-color: #d5001f;
}

.sixth.team-logo{
    background-color: #b4d0e7;
}

.seventh.team-logo{
    background-color: #0d2481;
}

.eighth.team-logo{
    background-color: #ffd830;
}

/* immagini logo team */
.team-logo img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.team-column-center img{
    width: 40%;
    margin-bottom: 30px;
}

.team-linea{
    width: 70px;
    border-top: 1px solid rgba(128, 128, 128, 0.479);
    margin-bottom: 50px;
}

.team-description{
    overflow: auto;
    height: 150px;
}

.team-column-center p{
    line-height: 1.6;
    margin-bottom: 40px;
}

/*---------------debug---------------*/
/* .debug header{
    background-color: aqua;
}

.debug #nav-menu{
    background-color: lightgreen;
}

.debug .nav-row{
    background-color: lightpink;
}  

.debug .jumbo-container{
    background-color: seagreen;
    height: 80%;
}

main{
    background-color: aqua;
    height: 2000px;
}

.colonna{
    height: 300px;
    background-color: brown;  
} 

.ultima.colonna{
    height: 250px;
}


.contatto.partner{
    background-color: rosybrown;
}


.dropbox-business{
    height: 1300px;
    background-color: aquamarine;
}

.business-container{
    background-color: darkolivegreen;
    height: 500px;
}

.business-container-img{
    height: 200px;
    background-color: darkorange;
} 

.business-container h3{
    height: 50px;
    background-color: darkred;
}

.business-container-text{
    height: 200px;
    background-color: darkslategray;
}

.team{
    height: 100vh;
    background-color: royalblue;
}

.team-column{
    background-color: sandybrown;
}

.team-column-center{
    background-color: sandybrown;
}*/