*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* testata */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
}

/* menu */
#nav-menu{
    padding: 25px 20px;
    height: 100%;
}

.nav-row{
    height: 100%;
    line-height: 30px;
}

.dp-logo{
    height: 100%;
    float: left;
}

.nav-row::after{
    content: '';
    display: table;
    clear: both;
}

.nav-row li{
    float: left;
    list-style-type: none;
    margin: 0 25px;
}

.nav-row a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 18px;
    padding-bottom: 27px;
}

.nav-row a:hover{
    border-bottom: 3px solid black;
}

#start:hover{
    border: none;
    background-color: #3e87fd;
}

.nav-second-list{
    float: right;
}

#start{
    color: white;
    background-color: #0061ff;
    padding: 7px 18px;
}

/* jumbotron */
.jumbo{
    background-color: #b4d0e7;
    width: 100%;
    height: 770px;
}

.jumbo-container{
    width: 90%;
    margin: auto;
    padding-top: 150px;
}

.jumbo-container::after{
    display: table;
    content: '';
    clear: both;
}

/* titolo jumbotron */
.jumbo-container-top{
    font-size: 60px;
    line-height: 85px;
    margin-bottom: 40px;
}

/*jumbotron container bottom left*/
.jumbo-container-bottom-left{
    float: left;
    width: 26%;
}

/* testo jumbotron */
.jc-bottom-text{
    font-size: 19px;
    margin-bottom: 40px;
}

/* pulsante jumbotron */
.pulsante.prova.gratuita{
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 18px;
    background-color: #0061ff;
    text-decoration: none;
}

.pulsante.prova.gratuita:hover{
    background-color: #2b7cff;
}

.annulla{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.jc-arrow{
    text-decoration: none;
    margin-left: 15px;
    font-size: 50px;
    color: black
}

/*jumbotron container bottom*/
.jumbo-container-bottom-right{
    width: 70%;
    float: right;
}

.jumbo-container-bottom-right img{
    width: 900px;
}

/*corpo della pagina*/
main{
    width: 70%;
    margin: 200px auto 100px auto;
}

/*piano dropbox*/
.piano-dropbox h2 {
    font-size: 44px;
    margin-bottom: 50px;
}

.fatturazione{
    margin-bottom: 50px;
}

.fatturazione div{
    display: inline-block;
    margin: 0 8px;
}

.fake.check{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 50px;
}

.fake.check.select{
    border: 5px solid #0061ff;
}

/*row*/
.row{
    width: 100%;
    display: table;
    content: '';
    clear: both;
}

/*colonne*/
.colonna{
    width: calc(100% / 3 - 40px);
    float: left;
    border: 1px solid grey;
}

.colonna.centrale{
    margin: 0  40px;
}

/*intestazione colonne*/
.cl-header{
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid grey;
}

/*contenuto colonne*/
.contenuto-colonna{
    padding: 25px;
    font-size: 14px;
}

.contenuto-colonna *{
    padding-bottom: 15px;
    vertical-align: top
}

.contenuto-colonna img{
    margin-right: 5px;
}

.titolo-colonna{
    font-size: 26px;
}

/* prezzi */
.costo{
    font-size: 18px;
    font-weight: 500;
}

.costo-scadenza{
    color: grey;
    margin-bottom: 40px;
}

/* descrizione piano */
.n-utenti *{
    display: inline-block;
}

.archiviazione *{
    display: inline-block;
}

.info *{
    display: inline-block;
}

.info-text{
    width: calc(100% - 30px);
}

/* acquista */
.acquista.ora{
    margin-top: 30px;
}

.acquista.ora span{
    padding-bottom: 30px;
    border-bottom: 1px solid #8f8f8f;
}

.acquista.ora a{
    color: #0061ff;
}

/* punti salienti */
.lista.piano h3{
    font-weight: 500;
    font-size: 18px;
    padding: 40px 0 15px 0;
}

.lista.piano ul{
    list-style: none;
}

.lista.piano li{
    max-width: calc(100% - 30px);
    padding-left: 5px;
}


.lista.piano li::marker{ 
    content: '\2713';
    font-size: 18px;
    color: #3581ff;
    margin-left: 10px;
}

/*-----debug-----*/
/* .debug header{
    background-color: aqua;
}

.debug #nav-menu{
    background-color: lightgreen;
}

.debug .nav-row{
    background-color: lightpink;
}  

.debug .jumbo-container{
    background-color: seagreen;
    height: 80%;
} */

main{
    /* background-color: aqua; */
    height: 2000px;
}

/*.colonna{
    height: 300px;
     background-color: brown;  
} */